<!-- Portfolio Modals -->
{% if site.locale and site.locale != "" and site.locale != nil %}
{% assign closebutton = site.data.sitetext[site.locale].portfolio.closebutton %}
{% else %}
{% assign closebutton = site.data.sitetext.portfolio.closebutton %}
{% endif %}

{% for project in site.portfolio %}

<div
  class="portfolio-modal modal fade"
  id="{%- include project-url-filter.html input=project.title -%}" 
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
  data-backdrop="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <i class="fas fa-times"></i>
      </div>
      <div class="container">
        <div class="row">
          <!-- <div class="col-lg-8 mx-auto"> -->
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="project-title">{{ project.title }}</h2>
              <p class="item-intro text-muted">{{ project.subtitle }}</p>
              {% if project.image %}
              <img
                class="img-fluid d-block mx-auto"
                src="{{ project.image }}"
                alt="{{ project.alt }}"
              />
              {% endif %}
              <div class="project-content"><p>{{ project.content }}</p></div>
              <button
                class="btn btn-classy"
                data-dismiss="modal"
                type="button"
              >
                {{ closebutton | default: "Close Project" }}
              </button>
            </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<!-- End Portfolio Modals -->
