{% include nav.html %}
  
  <!-- Header -->
  {% if site.locale and site.locale != "" and site.locale != nil %}
  {% assign header_title = site.data.sitetext[site.locale].header.title %}
  {% assign header_title = site.data.sitetext[site.locale].header.title %}
  {% assign header_text = site.data.sitetext[site.locale].header.text %}
  {% assign header_text = site.data.sitetext[site.locale].header.text %}
  {% assign header_buttons = site.data.sitetext[site.locale].header.buttons %}
  {% assign header_buttons = site.data.sitetext[site.locale].header.buttons %}
  {% else %}
  {% assign header_title = site.data.sitetext.header.title %}
  {% assign header_title = site.data.sitetext.header.title %}
  {% assign header_text = site.data.sitetext.header.text %}
  {% assign header_text = site.data.sitetext.header.text %}
  {% assign header_buttons = site.data.sitetext.header.buttons %}
  {% assign header_buttons = site.data.sitetext.header.buttons %}
  {% endif %}
  <header class="masthead">
    <div class="header-container">
    <!-- <div class="background"></div> -->
     {% include videobg.html %}
    <div class="backdrop">
      <div class="intro-text">
	  {%- if header_title -%}
        <div class="intro-lead-in">{{ header_title | markdownify }}</div>
	  {%- endif -%}
	  {%- if header_text -%}
        <div class="intro-heading text-uppercase">{{ header_text | markdownify }}</div>
	  {%- endif -%}
	  {%- if header_buttons -%}
    {% for button in header_buttons %}
        <a class="btn btn-classy btn-xl text-uppercase js-scroll-trigger" href="{{ button.link }}">{{ button.title }}</a>
    {% endfor %}
    <div class="socials">{% include socials.html %}</div>
	  {%- endif -%}
      </div>
    </div>
  </header>
  <!-- End Header -->