
<!-- Portfolio Grid -->

{% if site.locale and site.locale != "" and site.locale != nil %}
{% assign categories=site.data.sitetext[site.locale].portfolio.categories %}
{% else %}
{% assign categories=site.sitetext.portfolio.categories %}
{% endif %}

<div class="row portfolio-row-justify-center-container">
  <div class="row portfolio-row-justify-center"{% if include.row_width %} style="max-width: {{ include.row_width }}px;"{% endif %}>


  {% assign projects = site.portfolio | sort: "date", "first" | reverse %}
  {% for project in projects  %}
  {% if project.hidden != true and (include.homepage == false or include.homepage == nil or project.homepage) %}
  {% assign showonpage = true %}
  {% else %}
  {% assign showonpage = false %}
  {% endif %}
  
  {% if include.category == nil or categories[include.category] contains project.category %}
  {% assign showcategory = true %}
  {% else %}
  {% assign showcategory = false %}
  {% endif %}
  
   {% if showonpage and showcategory %}
    <div class="portfolio-item-container" has_breakdown={% if project.breakdown %}true{% else %}false{% endif %}>
    <div class="col-md-auto portfolio-item" style="--maximum-width: {{ include.max_width | default: 250 }}px">
      <a class="portfolio-link drop-shadow" data-toggle="modal" href="#{%- include project-url-filter.html input=project.title -%}">
        {% if project.caption.title %}
        <div class="portfolio-title">{{ project.caption.title }}</div>
        {% endif %}
        <div class="portfolio-hover">
          <div class="portfolio-shading"></div>
          {% if project.caption.role %}
            <div class="portfolio-caption">
              <!-- <p>Role:<p> -->
              <p class="text-muted">{{ project.caption.role }}</p>
            </div>
          {% endif %}
          <div class="portfolio-hover-content">
            <i class="{{ site.data.style.portfolio-icon | default: "fas fa-plus fa-x" }}"></i>
          </div>
        </div>
        <div class="portfolio-shading">
        <img class="img-fluid" src="{{ project.caption.thumbnail }}" alt="">
      </div>
        {% if project.breakdown and include.ribbons %}
        <div class="ribbon ribbon-top-left"><span>Breakdowns</span></div>
        {% endif %}
      </a>
    </div>
    </div>
  {% endif %}
  {% endfor %}
  {% if include.more %}
  <div class="col-md-auto portfolio-item" style="width: {{ include.max_width }}px;">
    <a class="btn btn-classy" href="{{ include.more }}">More...</a>
  </div>
  </div>
  {% endif %}
  </div>
  </div>