<script>
    document.querySelectorAll('.portfolio-item-container').forEach(container => {
      container.addEventListener('mousemove', (e) => {
          item = container.querySelector('.portfolio-item');
        container.style.transform = 'scale({{ include.scale | default: 1.03 }})'
        item.style.webkitTransition = 'none'; // Smooth transition for transform
        item.style.mozTransition = 'none'; // Smooth transition for transform
        item.style.transition = 'none';
        const rect = item.getBoundingClientRect();
        const x = e.clientX - rect.left; // Mouse X position relative to the item
        const y = e.clientY - rect.top;  // Mouse Y position relative to the item
    
        const centerX = rect.width / 2;
        const centerY = rect.height / 2;
    
        const rotateX = ((y - centerY) / centerY) * {{ include.rotation | default: 10 }}; // Rotate based on Y position
        const rotateY = ((x - centerX) / centerX) * -{{ include.rotation | default: 10 }}; // Rotate based on X position
    
        item.style.transform = `rotateX(${rotateX}deg) rotateY(${rotateY}deg)`; // Apply rotation and scale
      });
    
      container.addEventListener('mouseleave', () => {
        item = container.querySelector('.portfolio-item');
        // item.style.webkitTransition = 'transform 0.3s ease'; // Smooth transition for reset
        item.style.webkitTransition = 'transform 0.8s ease'; // Smooth transition for reset
        item.style.mozTransition = 'transform 0.8s ease'; // Smooth transition for reset
        item.style.transition = 'transform 0.8s ease'; // Smooth transition for reset
        item.style.transform = 'rotateX(0deg) rotateY(0deg)'; // Reset rotation
        container.style.transform = 'scale(1)'; // Reset scale
      });
    });
    </script>

