
<div class="row portfolio-row-justify-center">
{% for project in site.portfolio %}
{% if include.homepage == false or include.homepage == nil or project.homepage %}
{% assign showonpage = true %}
{% else %}
{% assign showonpage = false %}
{% endif %}

{% if include.category == nil or project.category == include.category %}
{% assign showcategory = true %}
{% else %}
{% assign showcategory = false %}
{% endif %}

 {% if showonpage and showcategory %}
  <div class="col-md-auto portfolio-item" style="max-width: {{ include.max-width }}px">
    <a class="portfolio-link" data-toggle="modal" href="#p{{ forloop.index }}">
      <div class="portfolio-hover">
        <div class="portfolio-hover-content">
          <i class="{{ site.data.style.portfolio-icon | default: "fas fa-plus fa-x" }}"></i>
        </div>
        {% if project.caption.role %}
          <div class="portfolio-caption">
            <!-- <p>Role:<p> -->
            <p class="text-muted">{{ project.caption.role }}</p>
          </div>
        {% endif %}
      </div>
      <img class="img-fluid" src="{{ project.caption.thumbnail }}" alt="">
    </a>
  </div>
{% endif %}
{% endfor %}
{% if include.more %}
<div class="col-md-auto portfolio-item">
    <a class="btn btn-primary btn-xl text-uppercase" href="{{ include.more }}">More...</a>
</div>
{% endif %}
</div>