<!-- Portfolio Grid -->
{% if site.locale and site.locale != "" and site.locale != nil %}
{% assign portfolio-section = site.data.sitetext[site.locale].portfolio.section %}
{% assign portfolio-title=site.data.sitetext[site.locale].portfolio.title %}
{% assign portfolio-text=site.data.sitetext[site.locale].portfolio.text %}
{% else %}
{% assign portfolio-section = site.data.sitetext.portfolio.section %}
{% assign portfolio-title=site.data.sitetext.portfolio.title %}
{% assign portfolio-text=site.data.sitetext.portfolio.text %}
{% endif %}

<section class="page-section" id="{{ portfolio-section | default: "portfolio" }}">
  <!-- <div class="container"> -->
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ portfolio-title | markdownify | default: "Portfolio" }}</h2>
        <h3 class="section-subheading text-muted">{{ portfolio-text | markdownify }}</h3>
      </div>
    </div>
      <p class="portfolio-category">Film</p>
      {% include portfolio_grid.html homepage=true category="film" max-width=250 more="/film-portfolio" %}
      <p class="portfolio-category">Commercial</p>
      {% include portfolio_grid.html homepage=true category="commercial" max-width=400 more="/commercial-portfolio" %}
</section>
{% include portfolio-item-script.html %}
{% include modals.html %}
