 {% if site.locale and site.locale != "" and site.locale != nil %}
  {% assign header_title = site.data.sitetext[site.locale].header.title %}
  {% assign header_title = site.data.sitetext[site.locale].header.title %}
  {% assign header_text = site.data.sitetext[site.locale].header.text %}
  {% assign header_text = site.data.sitetext[site.locale].header.text %}
  {% assign header_buttons = site.data.sitetext[site.locale].header.buttons %}
  {% assign header_buttons = site.data.sitetext[site.locale].header.buttons %}
{% else %}
  {% assign header_title = site.data.sitetext.header.title %}
  {% assign header_title = site.data.sitetext.header.title %}
  {% assign header_text = site.data.sitetext.header.text %}
  {% assign header_text = site.data.sitetext.header.text %}
  {% assign header_buttons = site.data.sitetext.header.buttons %}
  {% assign header_buttons = site.data.sitetext.header.buttons %}
{% endif %}

<style>
.bgVideoContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color:black;
}

.header-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 20px;
  color: white;
  font-size: 1.2em;
  text-align: left;
}


</style>

<script>
var vidSources =
    [		
{% for vid in site.data.playlist.headervids %}
{url: "{{ vid.url }}", caption: "{{ vid.caption }}", role: "{{ vid.role }}", src: "{{ vid.source }}"},
{% endfor %}
    ]

var initialVid = Math.floor((Math.random() * vidSources.length))

document.addEventListener("DOMContentLoaded", function() {
  //console.log(vidSources[initialVid].src);
  var videoA = document.getElementById("videoA");
  videoA.nextInx = 1; //set index of other video element

  var videoB = document.getElementById("videoB");
  videoB.nextInx = 0; //set index of other video element
  videoB.style.visibility = 'hidden'; // hide videoB initially

  var captionText = document.querySelector('.header-caption-text');
  var roleText = document.querySelector('.header-role-text');

  var videoObjects = [videoA, videoB];
  //videoB.style.display = 'none'; // hide videoB initially

  initVideoElement(videoA);
  initVideoElement(videoB);

  function initVideoElement(video) {
    video.src = vidSources[initialVid].src;
    video.vidinx = initialVid; //set index
    video.load();
    //console.log("Video source", video.id,  "set to: " + video.src);
    //select next index. If is equal vidSources.length then it is 0
    initialVid = ++initialVid % vidSources.length;

    video.onplay = function(e) {
      //console.log(this.src + "(" + this.vidinx + ") is playing");

      captionText.textContent = vidSources[this.vidinx].caption; // set caption text
      roleText.textContent = vidSources[this.vidinx].role; // set role text

      nextVideoElement = videoObjects[this.nextInx];
      nextSource = (this.vidinx + 1) % vidSources.length; // get next video index
      if (nextSource != nextVideoElement.vidinx) {
        nextVideoElement.src = vidSources[nextSource].src;
        nextVideoElement.vidinx = nextSource; // set index of next video
        nextVideoElement.load();
        //console.log(nextVideoElement.id + "source is set to" + nextVideoElement.src + " (" + this.vidinx + ")");
      };
    };

    video.onended = function(e) {
      nextVideoElement = videoObjects[this.nextInx];

      this.style.visibility = 'hidden'; // hide current video
      nextVideoElement.style.visibility = 'visible'; // show the next video
      //nextVideoElement.load();
      nextVideoElement.play();
      //console.log(this.src + "(" + this.vidinx + ") has ended, switching to " + nextVideoElement.src + " (" + nextVideoElement.vidinx + ")");
    };

    video.onprogress = function(e) {
      if (this.buffered.length > 0) {
        var bufferedEnd = this.buffered.end(this.buffered.length - 1);
        var percentBuffered = (bufferedEnd / this.duration) * 100;
        //console.log(this.src + " (" + this.vidinx + ") buffered: " + percentBuffered.toFixed(2) + "%");
      }
    };
  }

  videoA.play();
});

</script>


<div class="bgVideoContainer">

  <video id="videoA" class="background" muted playsinline preload></video>
  <video id="videoB" class="background" muted playsinline preload></video>

  <div class="header-caption">
    <p class="header-caption-text"></p>
    <p class="header-role-text"></p>
  </div>
</div>