<div class="videoContainerBG"><div id="videoContainer" class="pre-fade-in"></div></div>

<script>
	var videoContainer = document.getElementById('videoContainer'),
    nextVideo,
    videoObjects =
    [
        document.createElement('video'),
        document.createElement('video')
    ],
	captionElement = document.createElement('p'),
	roleElement = document.createElement('p'),
    vidSources =
    [		
{% for vid in site.data.playlist.headervids %}
{url: "{{ vid.url }}", caption: "{{ vid.caption }}", role: "{{ vid.role }}", src: "{{ vid.source }}"},
{% endfor %}
    ],
    //random starting point
    nextActiveVideo = Math.floor((Math.random() * vidSources.length)),
	initRun=true;
	// nextActiveVideo = 0;

captionElement.setAttribute("class", "videobg-caption");
roleElement.setAttribute("class", "videobg-role videobg-caption");

videoObjects[0].inx = 0; //set index
videoObjects[0].className = "background";
videoObjects[1].inx = 1;
videoObjects[1].className = "background";

videoObjects[0].style.backgroundColor = "black";
videoObjects[1].style.backgroundColor = "black";

initVideoElement(videoObjects[0]);
initVideoElement(videoObjects[1]);

videoObjects[0].src = vidSources[nextActiveVideo].src;
captionElement.innerText = vidSources[nextActiveVideo].caption
roleElement.innerText = vidSources[nextActiveVideo].role
videoContainer.appendChild(videoObjects[0]);

// videoObjects[1].style.display = 'none';
videoObjects[1].style.visibility = 'hidden'; // hide videoB initially
videoContainer.appendChild(videoObjects[1]);
videoContainer.appendChild(captionElement);
videoContainer.appendChild(roleElement);
function initVideoElement(video)
{
    video.playsinline = true;
    video.muted = true;
    // video.preload = 'auto';
    // video.autoplay= true; 
    //loadedmetadata is wrong because if we use it then we get endless loop
    video.onplaying = function(e)
    {
		if (initRun) {
			initRun = false;
			jQuery('#videoContainer').removeClass("pre-fade-in");
			jQuery('#videoContainer').addClass("fade-in");
		};
        //select next index. If is equal vidSources.length then it is 0
        nextActiveVideo = ++nextActiveVideo % vidSources.length;

        //replace the video elements against each other:
        if(this.inx == 0){
            nextVideo = videoObjects[1];
		} else{
            nextVideo = videoObjects[0];
		}
        nextVideo.src = vidSources[nextActiveVideo].src;
		captionElement.nextCaption = vidSources[nextActiveVideo].caption;
		roleElement.nextRole = vidSources[nextActiveVideo].role;
        nextVideo.pause();
    };

    video.onended = function(e)
    {
        this.style.visibility = 'hidden';
        nextVideo.style.visibility = 'visible';
		captionElement.innerText = captionElement.nextCaption
		roleElement.innerText = roleElement.nextRole
        nextVideo.play();
    };
}
// videoObjects[0].initPlay = true; //set flag to init play
// videoObjects[0].onloadeddata = function(e) {
//     console.log("Video source loaded:", this.src);
//     if (!(this.currentTime > 0 && this.readyState >= 2 && !this.paused) && this.initPlay) {
//         jQuery('#videoContainer').removeClass("pre-fade-in");
//         jQuery('#videoContainer').addClass("fade-in");
//         // If the video is not playing, we can start it
//         this.initPlay = false; // reset flag
//         this.play();
//         this.onloadeddata = null; // remove the event listener to prevent multiple calls
//     }

// };
videoObjects[0].play();
</script>