// Button Styles
.btn {
  @include heading-font;
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

@media (max-width: 575px) {
  .btn-xl {
    font-size: 12px;
    padding: 10px 20px;
  }
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  &:active,
  &:focus,
  &:hover {
    background-color: darken($primary, 7.5%) !important;
    border-color: darken($primary, 7.5%) !important;
    color: white;
  }
  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem darken($primary, 7.5%) !important;
  }
}

.btn-classy {
  margin:10px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  background-color: rgba(0, 0, 0, 0.5) !important;
  border-color:white;
  border-radius: 5px;
  // outline: none;
  opacity: 0.5;
  &.btn-xl{
    border-radius: 10px;
    &:active,
    &:focus,
    &:hover {
      background-color: rgba(0, 0, 0, 0.7) !important;
      filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.3)) !important;
      -webkit-filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.3)) !important;
    }
  }
  &:active,
  &:focus,
  &:hover {
    opacity: 1;
    color:white;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.3));
    -webkit-filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.3));
  }
}

.imdb-link {
  font-size: 40px;
  margin:0px 10px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  // outline: none;
  opacity: 0.5;
  background:none;
  text-decoration: none;
  margin-bottom: 0px !important;
  &:active,
  &:focus,
  &:hover {
    opacity: 1;
    color:white;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.3));
    -webkit-filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.3));
    text-decoration: none
  }
  p {
    @include heading-font;
    font-size: 20px;
    padding-top:0px;
    padding-bottom:0px;
    margin-top:0px;
    margin-bottom: 0px !important;
    // margin-bottom:-20px !important;
    // line-height: 5px;
  }
}

.switch {
  position: relative;
  display: inline-block;
  /* width: 32px; */
  height: 22px;
  aspect-ratio: 2 / 1;
  /* border:1px solid black; */

  &.switch-sm {
    height: 12px;
  }

  &.switch-xl {
    height: 32px;
  }
  input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 100vh;
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.4);
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 80%;
    width: 40%;
    left: 10%;
    bottom: 10%;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
}

.switch[type="redgreen"] {
  .slider{
  background-color: #c65047;
  }
  input:checked + .slider {
    background-color: #30ac43;
  }
}

.switch[type="green"] {
    input:checked + .slider {
      background-color: #30ac43;
    }
  }