// Button Styles
.btn {
  @include heading-font;
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  &:active,
  &:focus,
  &:hover {
    background-color: darken($primary, 7.5%) !important;
    border-color: darken($primary, 7.5%) !important;
    color: white;
  }
  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem darken($primary, 7.5%) !important;
  }
}

.btn-classy {
  margin:10px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  background-color: rgba(0, 0, 0, 0.5) !important;
  border-color:white;
  border-radius: 5px;
  // outline: none;
  opacity: 0.5;
  &.btn-xl{
    border-radius: 10px;
    &:active,
    &:focus,
    &:hover {
      background-color: rgba(0, 0, 0, 0.7) !important;
      filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.3)) !important;
    }
  }
  &:active,
  &:focus,
  &:hover {
    opacity: 1;
    color:white;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.3));
  }
}

.imdb-link {
  font-size: 40px;
  margin:0px 10px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  // outline: none;
  opacity: 0.5;
  background:none;
  text-decoration: none;
  margin-bottom: 0px !important;
  &:active,
  &:focus,
  &:hover {
    opacity: 1;
    color:white;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.3));
    text-decoration: none
  }
  p {
    @include heading-font;
    font-size: 20px;
    padding-top:0px;
    padding-bottom:0px;
    margin-top:0px;
    margin-bottom: 0px !important;
    // margin-bottom:-20px !important;
    // line-height: 5px;
  }
}