// Styling for the navbar
#mainNav {
  filter: drop-shadow(0px 5px 8px rgba(0, 0, 0, 0.6));
  -webkit-filter: drop-shadow(0px 5px 8px rgba(0, 0, 0, 0.6));
  // backdrop-filter: blur(15px)brightness(80%);
  // -webkit-backdrop-filter: blur(5px)brightness(10%);
  background-color: $gray-900;
  // max-width: 100vw;
  // overflow-x: hidden;
  .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    // text-transform: uppercase;
    color: white;
    outline: none;
    @include heading-font;

    // margin:10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background-color: rgba(0, 0, 0, 0.5) !important;
    border-color:white;
    border-radius: 5px;
    opacity: 0.5;
    &:active,
    &:focus,
    &:hover {
      opacity: 1;
      color:white;
      filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.3));
      -webkit-filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.3));
    }
  }
  .navbar-brand {
    color: $primary;
    @include script-font;
    &.active,
    &:active,
    &:focus,
    &:hover {
      color: darken($primary, 10%);
    }
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        font-size: 90%;
        font-weight: 400;
        padding: 0.75em 0;
        letter-spacing: 1px;
        color: white;
        transition: transform .3s ease;
        backface-visibility: hidden;
        transform: scale(1);
        transform-origin: left center;
        -webkit-font-smoothing: subpixel-antialiased;
        @include heading-font;
        &.active,
        &:hover {
          // color: $primary;
          color:white;
          // text-decoration: underline;
          transform: scale(1.1);
          filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.3));
          -webkit-filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.5));
        }
      }
    }
  }
  .dropdown-menu {
    // background-color: rgba($color: #000000, $alpha: 0.25);
    // background-color: $gray-900;
    background:none;
    border:none;
    padding: 0;
    margin-top: -10px;
    border-radius: 5px;

    // Initial state for animation
    display: block;
    opacity: 0;
    transform: scaleY(0); // Slide up initially
    transform-origin: top center; // Set the origin for the transform
    visibility: hidden; // Hide the dropdown without using display
    transition: opacity 0.3s ease, transform 0.3s ease; // Smooth animation

    height:0;
    // max-height:0;
    overflow: hidden;

  &.show {
    opacity: 1; // Fade in
    transform: scaleY(1); // Slide down
    visibility: visible; // Make the dropdown visible
    // max-height:1fr;
    height:auto;
  }
    .dropdown-item {
      color: $gray-200;
      text-transform: none;
      @include heading-font;
      transition: transform .3s ease;
      backface-visibility: hidden;
      transform: scale(1);
      transform-origin: left center;
      -webkit-font-smoothing: subpixel-antialiased;
      &:hover,
      &:focus {
          // color: $primary;
          color:white;
          // text-decoration: underline;
          transform: scale(1.1);
          filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.3));
          -webkit-filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.5));
        background-color: transparent;
      }
    }
  }
}
@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
    .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 1.1em 1em !important;
          transform-origin: center !important;
        }
      }
    }
    &.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: $gray-900;
      .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
      }
      .dropdown-menu{
        background-color: $gray-900;
      }
    }
  }
}

// transform-origin: left center;
