---
layout: default
---
{% include nav.html %}

{% if page.background == "grey" or page.background == "gray" %}
<script>
document.getElementById("page-top").className="bg-dark";
</script>
{% endif %}

<div id="pagecontainer">
{{ content }}

{% if page.breakdown-toggle %}
{% include breakdowns-switch.html %}
{% endif %}

{% include portfolio_grid.html category=page.category max_width=page.max-width ribbons=page.breakdown-ribbons %}
{% include portfolio-item-script.html rotation=10 %}
{% include modals.html %}

</div>